* {
    box-sizing: border-box;
}
	
.wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    height: 100%;
	border:0px solid #000;
}

.global-nav-background {
    background: #fff;
    height: 100%;
}

.global-nav-background--open .global-nav-wrapper {
	height: 200px;
	max-height:200px;
}



.global-content-vertical-fix {
    left: 0;
   /* overflow-x: hidden;*/
    top: 0;
   transition: transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
    transform: translateY(0);
    width: 100%;
}

.homepage.global-content-vertical-fix--shrink, .homepage.global-content-vertical-fix--shrinking {
    width: 100% !important;
}	


.homepage {
    height: 100%;
    width: calc(100vw + 15px) !important;
    transition: transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1) !important;
}


.global-content-wrapper {
    left: 0;
    overflow-x: hidden;
    top: 0;
    transition: transform 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
    width: 100%;
}

.global-nav-wrapper {
    background: #ffffff;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    transition: height 300ms cubic-bezier(0.25, 0.1, 0.25, 1);
    width: 100%;
}

.global-nav-wrapper--open{
	height:200px;
	max-height:200px;
}

.menu_open{
	transform: translateY(175px);
}

.menu_shrink{
	transform: translateY(0);
}

.global-nav {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
}


.main {
    background-color: #e9e9ea;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    min-height: 100%;
	border:0px solid blue;
}

@media only screen and (min-width: 768px){
    .global-nav-background--open .global-nav-wrapper {
        height: 175px;
    }
}